@{
    ViewData["Title"] = "Without Model";
}
@model edx_project.Models.ViewModels.AgeViewModel

<div class="text-center">
    <h1 class="display-4">@ViewBag.MyProperty</h1>
    <h1 class="display-4">@Model.Age</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
