
@ViewBag.success
<form action="CreateActor" method="post">
    <label for="first_name">First Name</label>
    <input type="text" name="first_name" value="tara" /><br />
    <label for="last_name">Last Name</label>
    <input type="text" name="last_name" value="reid" /><br />
    <input type="submit" name="submit" value="Create" />
</form>