@{
    ViewData["Title"] = "Admin Home Page";
}

@Html.Initialize("Admin Panel")

<div class="text-center">
    @Html.ColorfulHeading(1,"green","Bebka MVC Bootcamp")
    @Html.ColorfulHeading(2,"darkblue","Sub category")
</div>
